/* headings 
=============*/
/* headings 
=============*/
/* gold */
/* links 
=============*/
/* grey on white */
/* gold */
/* white on grey */
/* gold */
/* light grey on dark */
/* navigation 
=============*/
/* top strip navigation */
/* very light grey */
/* text 
===========*/
/* light grey on white */
/* dark grey on white */
/* dark grey */
/* very dark grey */
/* pods 
================== */
/* gold */
/* blue */
/* grey */
/* yellow */
/* orange */
/* purple */
/* pink */
/* buttons 
===========*/
/* stronger gold */
/* footer 
===========*/
/* media queries
==================*/
/* tablet landscape is 1024 as well */
/* mixins 
===========*/
/* pods and callouts
======================= */
.pods, #videos .video-pods, .pricing-pods, .customer-pods, .home-primary-pod, .home-secondary-pod {
  position: relative;
  text-align: center;
  vertical-align: top;
}
@media screen and (min-width: 320px) {
  .pods, #videos .video-pods, .pricing-pods, .customer-pods, .home-primary-pod, .home-secondary-pod {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .pods, #videos .video-pods, .pricing-pods, .customer-pods, .home-primary-pod, .home-secondary-pod {
    display: inline-block;
    width: 47%;
  }
}
@media screen and (min-width: 1024px) {
  .pods, #videos .video-pods, .pricing-pods, .customer-pods, .home-primary-pod, .home-secondary-pod {
    width: 346px;
  }
}

#videos {
  margin-top: 50px;
}
#videos .video-pods {
  height: 1px;
  min-height: 482px;
  overflow: hidden;
  background: transparent url("../images/play-button.png") no-repeat right 10px;
}
@media screen and (min-width: 320px) {
  #videos .video-pods {
    width: 242px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  #videos .video-pods {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #videos .video-pods {
    width: 295px;
    margin: 0 15px 15px 0;
  }
}
@media screen and (min-width: 1024px) {
  #videos .video-pods {
    margin: 0 15px 0 0;
  }
}
#videos .video-pods .video-pod-content {
  display: inline-block;
}
@media screen and (min-width: 320px) {
  #videos .video-pods .video-pod-content {
    width: 241px;
  }
}
@media screen and (min-width: 480px) {
  #videos .video-pods .video-pod-content {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #videos .video-pods .video-pod-content {
    width: 295px;
  }
}
@media screen and (min-width: 480px) {
  #videos .video-pods .video-pod-content img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #videos .video-pods .video-pod-content img {
    width: auto;
  }
}
#videos .video-pods p {
  background-image: url("../images/videos-quote.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.85);
  color: #464646;
  text-align: left;
  padding: 30px 0 0 15px;
  position: absolute;
  bottom: 0;
  height: 97px;
}
@media screen and (min-width: 320px) {
  #videos .video-pods p {
    width: 227px;
    background-position: 218px 8px;
  }
}
@media screen and (min-width: 480px) {
  #videos .video-pods p {
    width: 98%;
    background-position: 97% 8px;
  }
}
@media screen and (min-width: 768px) {
  #videos .video-pods p {
    background-position: 271px 8px;
    width: 280px;
  }
}
#videos .video-pods p span {
  display: block;
}
#videos .video-pods p .video-pod-category {
  font-size: 12px;
  font-weight: 400;
}
#videos .video-pods p .video-pod-company {
  font-weight: 400;
  font-size: 18px;
  width: 80%;
}
#videos a {
  display: block;
  margin-top: 70px;
  color: #b29a5c;
}

.video-pod-2 {
  margin-right: 0;
}

.pricing-pods {
  height: auto;
  color: #271f1f;
}
.pricing-pods .pod-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 67px;
}
.pricing-pods .button {
  border-radius: 3px;
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 45px;
}
@media screen and (min-width: 1024px) {
  .pricing-pods .button {
    max-height: 2px;
    overflow: hidden;
    color: transparent;
    /* Set our transitions up. */
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
  }
}
.pricing-pods .price {
  margin-top: 44px;
  margin: auto;
}
.pricing-pods .price-group {
  display: inline-block;
  position: relative;
  text-align: left;
}
.pricing-pods .currency-symbol, .pricing-pods .price, .pricing-pods .schedule, .pricing-pods .licence {
  font-weight: bold;
}
.pricing-pods .currency-symbol {
  font-size: 23px;
  left: 2px;
  position: absolute;
  top: 0;
}
.pricing-pods .price-value {
  font-size: 62px;
  line-height: 48px;
  padding-left: 16px;
  text-align: left;
}
.pricing-pods .currency {
  font-size: 14px;
  position: absolute;
  right: 31px;
}
.pricing-pods .schedule {
  bottom: 0;
  font-size: 24px;
  position: absolute;
  right: 0;
}
.pricing-pods .billing {
  font-size: 12px;
  padding: 15px 0;
}
.pricing-pods .licence {
  padding: 15px 0;
  border-top: 1px solid #271f1f;
  border-bottom: 1px solid #271f1f;
}
.pricing-pods .pricing-ipads {
  padding: 24px 0 54px 0;
}
.pricing-pods .content-heading {
  padding-bottom: 24px;
  font-family: "gothamhtf-book";
}
.pricing-pods .pod-about {
  width: 225px;
  margin: 0 auto 24px auto;
}
@media screen and (min-width: 1280px) {
  .pricing-pods {
    width: 283px;
  }
}

@media screen and (min-width: 1024px) {
  .pricing-pods:hover .button {
    color: #fff;
    max-height: 200px;
  }
}
.solo-pod {
  margin-right: 15px;
}
.solo-pod .price-group {
  width: 156px;
}
.solo-pod .pod-title {
  color: #f7bc1d;
}
.solo-pod .button {
  background-color: #f7bc1d;
}

.dual-pod {
  margin-right: 15px;
}
.dual-pod .price-group {
  width: 177px;
}
.dual-pod .pod-title {
  color: #f26522;
}
.dual-pod .button {
  background-color: #f26522;
}

.team-pod {
  margin-right: 15px;
}
.team-pod .price-group {
  width: 195px;
}
.team-pod .pod-title {
  color: #92278f;
}
.team-pod .button {
  background-color: #92278f;
}

.unlimited-pod .price-group {
  width: 196px;
}
.unlimited-pod .pod-title {
  color: #ec008c;
}
.unlimited-pod .button {
  background-color: #ec008c;
}

.customer-pods {
  text-align: left;
  background-color: #fff;
  color: #464646;
  margin-right: 20px;
  margin-bottom: 50px;
}
.customer-pods h6 {
  color: #464646;
  padding: 25px 0 25px 0;
  font-family: "gothamhtf-book";
  font-weight: 300;
}
.customer-pods .pod-about {
  padding: 20px;
  position: relative;
  top: -2px;
  border-left: 1px solid #bcbec0;
  border-right: 1px solid #bcbec0;
  border-bottom: 1px solid #bcbec0;
  min-height: 128px;
}
.customer-pods .pod-quote {
  font-size: 13px;
  line-height: 22px;
}
.customer-pods .pod-category {
  font-size: 11px;
  text-transform: uppercase;
}
.customer-pods .pod-media {
  position: absolute;
  right: 17px;
  top: 11px;
}
.customer-pods .pod-media img {
  display: inline-block;
}
.customer-pods .pod-image {
  width: 100%;
}
@media screen and (min-width: 320px) {
  .customer-pods {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .customer-pods {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .customer-pods {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .customer-pods {
    width: 382px;
  }
}

/* this won't work in IE flavour */
.customer-pods:nth-child(3n) {
  margin-right: 0;
}

.more-pod {
  display: inline-block;
  padding: 14px 0 14px 0;
  text-align: center;
  border: 1px solid #bcbec0;
  color: #58595b;
  margin-top: 52px;
  margin-bottom: 200px;
}
.more-pod .more-text {
  padding-right: 25px;
  background: transparent url("../images/arrow-down-pods.png") no-repeat right 50%;
}
@media screen and (min-width: 320px) {
  .more-pod {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .more-pod {
    width: 382px;
  }
}

.home-hero-pods {
  position: relative;
}

.home-hero-lead {
  background: transparent url("../images/home-hero.jpg") no-repeat center top;
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .home-hero-lead {
    height: 958px;
  }
}
.home-hero-lead .lead-title {
  text-transform: none;
  letter-spacing: 2px;
}
@media screen and (min-width: 320px) {
  .home-hero-lead .lead-title {
    padding: 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .home-hero-lead .lead-title {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .home-hero-lead .lead-title {
    display: inline-block;
    padding-top: 60px;
    line-height: 81px;
  }
}
.home-hero-lead h3 {
  text-align: center;
}
@media screen and (min-width: 320px) {
  .home-hero-lead .splitter {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .home-hero-lead .splitter {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) {
  .home-hero-lead .full-service-hover, .home-hero-lead .quick-service-hover {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .home-hero-lead .full-service-hover, .home-hero-lead .quick-service-hover {
    top: 488px;
    position: absolute;
  }
}
@media screen and (min-width: 1280px) {
  .home-hero-lead .full-service-hover {
    left: -151px;
  }
}
@media screen and (min-width: 1280px) {
  .home-hero-lead .quick-service-hover {
    right: -44px;
  }
}
@media screen and (min-width: 320px) {
  .home-hero-lead .down-arrow {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .home-hero-lead .down-arrow {
    display: inline-block;
    position: relative;
    top: 102px;
  }
}

.home-primary-pod, .home-secondary-pod {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.85);
  vertical-align: top;
  padding: 35px 0 15px 0;
}
@media screen and (min-width: 320px) {
  .home-primary-pod, .home-secondary-pod {
    height: auto;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .home-primary-pod, .home-secondary-pod {
    margin: 65px 0 0 0;
    width: 346px;
    height: 430px;
  }
}
.home-primary-pod h4, .home-secondary-pod h4 {
  font-size: 33px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Gotham SSm A", "Gotham SSm B";
}
@media screen and (min-width: 320px) {
  .home-primary-pod h4, .home-secondary-pod h4 {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .home-primary-pod h4, .home-secondary-pod h4 {
    padding: 0 0 20px 0;
  }
}
.home-primary-pod p, .home-secondary-pod p {
  display: inline-block;
  color: #707070;
  font-weight: 700;
  margin-bottom: 25px;
  width: 80%;
}
.home-primary-pod p span, .home-secondary-pod p span {
  color: #555;
  font-weight: 300;
}
.home-primary-pod .pod-button, .home-secondary-pod .pod-button {
  width: 150px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 600;
  display: block;
  margin: auto;
  padding: 15px 0;
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .home-primary-pod .pod-button:hover, .home-secondary-pod .pod-button:hover {
    background-color: #ab9053;
  }
}
@media screen and (min-width: 320px) {
  .home-primary-pod .single-image, .home-secondary-pod .single-image {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .home-primary-pod .single-image, .home-secondary-pod .single-image {
    display: block;
    left: 37px;
    position: absolute;
    top: 266px;
  }
}
.home-primary-pod span, .home-secondary-pod span {
  display: block;
}

@media screen and (min-width: 768px) {
  .home-primary-pod {
    margin-right: 35px;
  }
}
.home-primary-pod h4 {
  color: #b69859;
}
.home-primary-pod .pod-button {
  background: #b69859;
}

.home-secondary-pod h4 {
  color: #7fa9b7;
}
.home-secondary-pod .pod-button {
  background: #7fa9b7;
}
.home-secondary-pod .pod-button:hover {
  background: #6a8d99;
}

@media screen and (min-width: 1024px) {
  .home-slides-section {
    /* allows white strip to show */
  }
}

.home-slide {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .home-slide h2 {
    width: 676px;
    display: inline-block;
    padding-top: 100px;
    letter-spacing: 1px;
  }
}

.home-slides {
  min-height: 800px;
}

.home-slide div img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: auto;
}

.fs .home-slide {
  position: fixed;
  opacity: 0;
  z-index: 3;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}
.fs .active {
  z-index: 99;
}
.fs .active .home-slide {
  opacity: 1;
  z-index: 999;
}

.home-slide-text {
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .home-slide-text {
    width: 652px;
  }
}
.home-slide-text .text-pod {
  display: inline-block;
  text-align: left;
}
@media screen and (min-width: 320px) {
  .home-slide-text .text-pod {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .home-slide-text .text-pod {
    width: 452px;
    margin: 73px 0 0 112px;
  }
}
.home-slide-text .text-pod h3 {
  margin-bottom: 30px;
  text-transform: none;
  font-size: 32px;
}
.home-slide-text .text-pod h3, .home-slide-text .text-pod p {
  font-family: "Gotham SSm A", "Gotham SSm B";
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.09) 0 2px 3px, rgba(0, 0, 0, 0.07) 0 0 25px;
}
.home-slide-text .text-pod p {
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 34px;
  font-family: "gothamhtf-book";
}
@media screen and (min-width: 1024px) {
  .home-slide-text .text-pod p {
    font-size: 24px;
  }
}

.home-slide-one {
  /*	background: transparent url("../images/girl.jpg") no-repeat center top;
  */
  background-size: cover;
}

.home-slide-two {
  /*	background: transparent url("../images/woods.jpg") no-repeat center top;
  */
  background-size: cover;
}
.home-slide-two .text-pod p {
  width: 392px;
}

.home-slide-three {
  /*	background: transparent url("../images/home-slide-three.jpg") no-repeat center top;
  */
  background-size: cover;
}
.home-slide-three .text-pod p {
  width: 471px;
}

.home-we-love-customers h2, .home-restaurant-success h2 {
  display: block;
  color: #363636;
}
.home-we-love-customers p, .home-restaurant-success p {
  display: inline-block;
  color: #363636;
  margin-top: 40px;
}
@media screen and (min-width: 320px) {
  .home-we-love-customers img, .home-restaurant-success img {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .home-we-love-customers img, .home-restaurant-success img {
    width: auto;
  }
}

.home-restaurant-success p {
  margin-bottom: 50px;
}
